.resultPage {
  background: #80A8C2;
  height: 100vh;

  .title {
    color: white;
    padding-top: 48px;
    text-align: center;
  }

  .subTitle {
    color: white;
    margin-bottom: 48px;
  }

  .enterBtn {
    // 占 60%
    width: 60vw;
    background: #806497;
    border-color: #806497;
  }
}
