<?xml version="1.0" encoding="utf-8" ?>
<config>
    <!-- 简单工厂模式 -->
    <chartType>pie</chartType>
    <!-- 工厂方法模式 -->
    <loggerFactory>pattern02.factoryMethod.DatabaseLoggerFactory</loggerFactory>
    <!-- 抽象工厂模式 -->
    <skinFactory>pattern03.SpringSkinFactory</skinFactory>
    <!-- 建造者模式 -->
    <actorBuilder>pattern05.HeroBuilder</actorBuilder>

    <!-- 适配器模式 -->
    <operationAdapter>pattern11.OperationAdapter</operationAdapter>
    <!-- 桥接模式 -->
    <imgBridge>pattern12.image.JPGImage</imgBridge>
    <systemBridge>pattern12.system.LinuxImp</systemBridge>
</config>