<!DOCTYPE html>
<html>

<head>
    <title>本地应用-记事本</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .father .child {
            display: none; /* p的内容一开始设置为不可见 */
        }
        .father:hover .child {
            display: block; /* 鼠标移入后，p的标签的内容为可见 */
        }
    </style>
</head>

<body>
    <div id="app">
        <h2>我的简陋任务清单</h2>
        <input type="text" v-model="inputText" @keyup.enter="add" placeholder="输入任务" />

        <ol>
            <li v-for="(item,index) in list" @mouseenter="mouseOver" @mouseleave="mouseOut"> {{ item }}
                <span @click="remove(index)" v-if="seen">X</span>
            </li>
        </ol>

        <p>测试另一种写法</p>
        <ol>
            <li v-for="(item,index) in list" class="father"> {{ item }}
                <span @click="remove(index)"  class="child">X</span>
            </li>
        </ol>

        <p v-if="list.length > 0">总共有 {{ list.length}} 条任务</p>
        <input type="button" value="清空" @click="clear" v-if="list.length > 0" />
    </div>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                list: [],
                inputText: "",
                seen: false

            },
            methods: {
                add: function () {
                    if (this.inputText != "") {
                        this.list.push(this.inputText);
                        this.inputText = "";
                    }
                },
                remove: function (index) {
                    this.list.splice(index, 1);
                },
                clear: function () {
                    this.list = [];
                    this.inputText = "";
                },

                mouseOver: function () {
                    this.seen = true; // 鼠标移入显示内容
                },
                mouseOut: function () {
                    this.seen = false; // 鼠标移出隐藏内容
                }
            }
        })
    </script>

</body>

</html>