<!DOCTYPE html>
<html>

<head>
    <title>网络应用 - 天气查询</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- axios 封装库引入 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <h2>简陋的天气查询</h2>
    <div id="app">
        <div>
            <input type="text" v-model="city" placeholder="请输入需要查询的城市" @keyup.enter="searchWeather" />
            <button @click="searchWeather">搜索</button>
        </div>
        <ol>
            <li @click="changeCity('北京')">北京</li>
            <li @click="changeCity('上海')">上海</li>
            <li @click="changeCity('广州')">广州</li>
            <li @click="changeCity('深圳')">深圳</li>
        </ol>

        <br>

        <div v-if="weatherList != '' && city != ''">
            <p> {{ city + "天气" }} </p>
            <ol>
                <li v-for="item in weatherList">
                    {{ item.date }} : {{ item.type }}；温度范围：{{ item.low }} ~ {{ item.high }}；风向：{{ item.fengxiang }}
                </li>
            </ol>
        </div>
    </div>

    <script src="./js/02-01天气查询.js"></script>
</body>
</html>